@page
@model VideoGameManager.Pages.Shared.Games.CreateModel
@{
	ViewData["Title"] = "Nou Joc";
}
<h1>Crear Joc</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Game.Title"></label>
        <input asp-for="Game.Title" class="form-control" />
        <span asp-validation-for="Game.Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Game.Genre"></label>
        <input asp-for="Game.Genre" class="form-control" />
        <span asp-validation-for="Game.Genre" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Game.Year"></label>
        <input asp-for="Game.Year" class="form-control" />
        <span asp-validation-for="Game.Year" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Game.Score"></label>
        <input asp-for="Game.Score" class="form-control" />
        <span asp-validation-for="Game.Score" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Game.Description"></label>
        <textarea asp-for="Game.Description" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel·lar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}